<div class="col ">
    <div class="card shadow-sm custom-class parent-div">
      <img src="{{product.image}}" alt="{{product.title}}" class="image-fluid bg-light product-image">
      <div class="card-body" >
        <a routerLink='/shop/{{product.id}}' >
          <div style="height: 5vh; overflow: hidden; text-overflow: ellipsis;">
            <h6 class="text-uppercase">{{product.title}}</h6>
          </div>
        </a>
        <strong class="me-2 font-weight-bold">{{product.price | currency}}</strong>
        <p class="card-text product-description" >&nbsp;&nbsp;{{product.description}}</p>
        <div class="d-flex" style = "align-self: flex-end;">
          <div class="btn-group">
            <button type="button" routerLink='/shop/{{product.id}}' class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-outline-secondary fa fa-shopping-cart px-2"></button>
            
          </div>
          <small class="text-muted" style="margin-left: 1vw; padding-top: 0.3vh;">{{product.category}}</small>
        </div>
      </div>
    </div>
</div>