.custom-class {
    display: flex;
    min-height: 45vh;
    height: 45vh; /* Adjust this value to your needs */
    overflow: hidden;
    padding: 0.4em;
    text-overflow:clip; /* Add this if you want to enable scrolling when the content exceeds the max height */
}
.product-image {
  
  max-height: 200px;
  object-fit: cover; /* This will ensure that the image covers the entire space without distorting the aspect ratio */
}
.product-description {
    max-height: 15vh; /* Adjust this value to your needs */
    overflow: hidden; /* Add this if you want to enable scrolling when the content exceeds the max height */
}

.parent-div {
    display: flex;
    flex-direction: column;
.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
    height: 100%; /* This ensures the div takes up the full height of its parent */
}