<div class="container-fluid fixed-top" style="background-color: #FFFFFF">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3  border-bottom">
      <a routerLink="/" class="d-flex align-items-center  mb-2 mb-md-0 text-dark text-decoration-none  fs-2">
        Adi Naf(343)'s Fake Store
      </a>

      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="margin-left: 0em;">
        <li><a [routerLink]="['/']"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link px-2 ">Home</a></li>
        <li><a routerLink="/shop"   routerLinkActive="active" class="nav-link px-2 ">Shop</a></li>
        
      </ul>

      <div class="d-flex align-items-center">
        <a href="" class="position-relative">
        <div class="cart-no fs-6">5
            </div>
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark me-3">
            </i>
        </a>
        <button type="button" class="btn btn-outline-primary me-2">Login</button>
        <button type="button" class="btn btn-primary">Sign-up</button>
      </div>
    </header>
  </div>